In [1]:
%load_ext sql
#/*Load sql mode*/

In [2]:
%sql sqlite://

'Connected: None@None'

In [3]:
%%sql
create table genius(id integer primary key, name text);
/*create a table genius*/

0 rows affected.
0 rows affected.

[]

In [5]:
%%sql
insert into genius(id, name) values(1, "Isaac Newton");
insert into genius(name) values("Albert Einstein");
insert into genius(name) values("John Nash");
insert into genius(name) values("Alan Turing");
/*Populate the genius table*/

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.

[]

In [8]:
%%sql
select * from genius;

Done.

[(1, 'Isaac Newton'),
 (2, 'Albert Einstein'),
 (3, 'John Nash'),
 (4, 'Alan Turing')]